@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* APPBUTTON */
.app-button {
  @apply inline-flex items-center px-3 py-2 border border-transparent text-sm leading-4 font-medium rounded-md transition ease-in-out duration-150;
}

.app-button--primary {
  @apply text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:border-indigo-700 focus:shadow-outline-indigo active:bg-indigo-700;
}

.app-button--secondary {
  @apply text-indigo-700 bg-indigo-100 hover:bg-indigo-50 focus:outline-none focus:border-indigo-300 focus:shadow-outline-indigo active:bg-indigo-200;
}

/* APPIMAGE */
.app-image__placeholder {
  width: 400px;
  height: 300px;
  background-color: silver;
}

.scroll-list {
  height: 100px;
  overflow: scroll;
}

/* APPWRAPPER IE */

.app-wrappper--IE::after,
.app-wrappper--IE::before {
  @apply table clear-both;
}

.app-wrappper--IE > div {
  @apply inline-block float-left align-middle mx-4;

  width: calc(100% - 2rem);
}

@media (min-width: 540px) and (max-width: 667px) {
  .app-wrappper--IE > div:nth-child(odd) {
    width: calc(50% - 1.5rem);

    @apply ml-4 mr-2;
  }

  .app-wrappper--IE > div:nth-child(even) {
    width: calc(50% - 1.5rem);

    @apply ml-2 mr-4;
  }
}

@media (min-width: 668px) and (max-width: 923px) {
  .app-wrappper--IE > div {
    width: calc(33.3333% - 1.5rem);

    @apply ml-4 mr-2;
  }

  .app-wrappper--IE > div:nth-child(3n-7) {
    width: calc(33.3333% - 1rem);

    @apply ml-2 mr-2;
  }

  .app-wrappper--IE > div:nth-child(3n) {
    width: calc(33.3333% - 1.5rem);

    @apply ml-2 mr-4;
  }
}

@media (min-width: 924px) and (max-width: 1179px) {
  .app-wrappper--IE > div {
    width: calc(25% - 1rem);

    @apply ml-2 mr-2;
  }

  .app-wrappper--IE > div:nth-child(odd) {
    width: calc(25% - 1rem);

    @apply ml-2 mr-2;
  }

  .app-wrappper--IE > div:nth-child(4n+1) {
    width: calc(25% - 1.5rem);

    @apply ml-4 mr-2;
  }

  .app-wrappper--IE > div:nth-child(4n) {
    width: calc(25% - 1.5rem);

    @apply ml-2 mr-4;
  }
}

@media (min-width: 1180px) {
  .app-wrappper--IE > div {
    width: calc(20% - 1rem);

    @apply ml-2 mr-2;
  }

  .app-wrappper--IE > div:nth-child(5n) {
    width: calc(20% - 1.5rem);

    @apply ml-2 mr-4;
  }

  .app-wrappper--IE > div:nth-child(5n+1) {
    width: calc(20% - 1.5rem);

    @apply ml-4 mr-2;
  }

  .app-wrappper--IE > div:nth-child(5n+2) {
    width: calc(20% - 1rem);

    @apply ml-2 mr-2;
  }

  .app-wrappper--IE > div:nth-child(5n+3) {
    width: calc(20% - 1rem);

    @apply ml-2 mr-2;
  }
}
